<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614504369495-vva91o3c6gvh6j874ttolg91598du1a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614504369495-vva91o3c6gvh6j874ttolg91598du1a8</string>
	<key>API_KEY</key>
	<string>AIzaSyCohO8JATgwWOvmHLEDkaHvyCagv7XbLok</string>
	<key>GCM_SENDER_ID</key>
	<string>614504369495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuyang.flexnet</string>
	<key>PROJECT_ID</key>
	<string>devteams-2853f</string>
	<key>STORAGE_BUCKET</key>
	<string>devteams-2853f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614504369495:ios:7b77bf30d81c7c689a0212</string>
</dict>
</plist>